<footer>
    <a class="navbar-brand" href="/">
        <img src="../assets/images/DraidLogo.png" alt="logo" class="logo">
        Draid <span class="text-muted">Copyright©
            2021-2023</span>
    </a>
    <a id="terms" href="/termsofservice">Terms of service</a>
    <a id="privacy" href="/privacypolicy">Privacy policy</a>
</footer>